@(signupForm: Form[Passport.Register])

@import helper._
@import helper.twitterBootstrap._


@main(nav = "signup") {
    
    @helper.form(action = routes.Passport.registerSubmit) {
        
      
        <fieldset>
                  
            @inputText(
                signupForm("username"), 
                '_label -> "用户名", 
                '_help -> "4-18个字符",
                '_error -> signupForm.error("username")
            )
          
            
            @inputPassword(
                signupForm("password"), 
                '_label -> "密码",
                '_help -> "密码长度为6-16个字符。 "
            )
            
            @inputPassword(
                signupForm("repeatPassword"), 
                '_label -> "确认密码",
                '_help -> "请再次输入您的密码。",
                '_error -> signupForm.error("password")
            )
              
            @inputText(
                signupForm("email"), 
                '_label -> "邮箱",
                '_help -> ""
            )
            
             @inputText(
                signupForm("phone"), 
                '_label -> "手机",
                '_help -> ""
            )
        </fieldset>
                
        <div class="actions">
            <input type="submit" class="btn primary" value="确定">
            <a href="@routes.Application.index" class="btn">取消</a>
        </div>
        
    }
    
}